/* header  styles */
header {
    background-color: rgb(59, 59, 198);
    height: 10vh;
}

header h1 {
    color: white;
    width: 35%;
    margin: auto;
    font-weight: bold;
    font-size: 3vw;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* current and future weather styling */
#firstAside {
    display: flex;
}

/* today weather styles */
#today {
    height: 50vh;
    border: 1px solid black;
    width: auto;
}

/* history section styles */
.history {
    width: 30%;
}

/* forecast div */
.forecastDiv {
    width: 70%;
}
