/* header  styles */
header {
    background-color: rgb(59, 59, 198);
    height: 10vh;
}

header h1 {
    color: white;
    width: 35%;
    margin: auto;
    font-weight: bold;
    font-size: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* current and future weather styling */
#firstAside {
    display: flex;
}

/* today weather styles */
#today {
    height: 40vh;
    border: 1px solid black;
    width: 100%;
    margin-top: 20px;
}

/* history section styles */
.history {
    width: 20%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

#search-button {
    width: 300px;
    background-color: rgb(65, 148, 220);
    margin: 20px auto;
    border-radius: 10px;
}

.history h2 {
    font-weight: bold;
}

.histBtns {
    margin-bottom: 10px;
}
/* forecast div */
.forecastDiv {
    width: 100%;
}
